body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  width: 700px;
  height: 500px;
}

.display {
  background-color: grey;
  color: #fff;  
  text-align: right;
  flex-direction: row;
  font-size: 50px;
  font-weight: bold;
  height: 100px;
  padding: 8px;
}

.btn-group {
  height: 100px;
}

.btn {
  border: rgb(182, 178, 178) 1px solid;
  font-size: 20px;
  height: 100%;
  text-align: center;
}
